.statistics {
  max-width: 300px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.stat-list {
  display: flex;
  gap: 5px;
}
